<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><center><%= title %></center></h1>
    <br /><center><a href="/about.html">About this website</a></center>
    <br /><center><a href="/database.html">To the Database</a></center>
    <br /><center><a href="/login.html">Login</a></center>
  </body>
</html>
